<div class="container-md mt-5">
  <h2 class="text-center color-paars">De vloot</h2>

  <div class="table-responsive-md">
      <table id="tabelBotenInzien" class="table">
          <thead class="bg-paars text-light">
              <tr>
                  <th> id </th>
                  <th> naam </th>
                  <th> type </th>
                  <th> beschikbaar </th>
                  <th> wie mag gebruiken </th>
                  <th> loods </th>
                  <th> bijhoorende palen </th>
                  <th> aanvullende informatie </th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let boot of vlootArray">
              <td>{{boot.id}}</td>
              <td>{{boot.naam}}</td>
              <td>{{boot.type}}</td>
              <td>{{boot.beschikbaar}}</td>
              <td>{{boot.gebruikType}}</td>
              <td>{{boot.loodsNummer}}</td>
              <td>{{boot.palen.id}}</td>
              <td>{{boot.aanvullendeInformatie}}</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>


<div class="text-center" ng-app="">
  <a href="http://127.0.0.1:5501/vloot.html">
      <input id="homeButton" class="btn bg-paars text-white m-4" type="button" value="Terug naar vloot in de app">
  </a>
</div>

