<div class="container-md">
  <h2 class="text-center color-paars">De vloot</h2>

  <div class="table-responsive-md">
      <table id="tabelBotenInzien" class="table">
          <thead class="bg-paars text-light">
              <tr>
                  <th> id </th>
                  <th> naam </th>
                  <th> type </th>
                  <th> beschikbaar </th>
                  <th> wie mag gebruiken </th>
                  <th> loods </th>
                  <th> bijhoorende palen </th>
                  <th> aanvullende informatie </th>
              </tr>
          </thead>
      </table>
  </div>
</div>

<!--
<div class="text-center" ng-app="">
  <a href="../../../../FrontEnd_Bootstrap/vloot.html" target="_blank">
      <input id="homeButton" class="btn bg-paars text-white m-4" type="button" value="Terug naar vloot in de app">
  </a>
</div>
-->
